{% extends 'base.html.twig' %}

{% block title %}Hello PollController!{% endblock %}

{% block poll %}"nav-link active" aria-current="page"{% endblock %}

{% block body %}
    <h1 class="text-center">Questionnaire</h1>
    <br>
    <h5 class="text-center text-muted" style="font-weight:bolder">Essayez le plus possible de ne pas cocher de réponse neutre,
        <br>puisque celles-ci sont difficilement analysables.</h5>
    <br>
    <form action="/post" method="post">
        <main role="main" class="container">
            {% for i, item in questions %}
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.question|raw }}</h5>
                                <p class="card-text">
                                    {% for j, answer in item.answers %}
                                <div class="custom-control custom-radio">
                                    <input value="{{ j }}" required type="radio" id="option_{{ i }}_{{ j }}" name="{{ i }}"
                                           class="custom-control-input">
                                    <label class="custom-control-label"
                                           for="option_{{ i }}_{{ j }}">{{ answer }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-secondary btn-lg btn-block" role="button">Terminer</button>
            <br><br>
        </main>
    </form>
{% endblock %}
