<div class="accordion-item">
    <h2 class="accordion-header" id="accordion-header_{{ j }}_{{ i }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse_{{ j }}_{{ i }}" aria-expanded="false"
                aria-controls="flush-collapse_{{ j }}_{{ i }}">


            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        {{ answer }}
                    </div>

                    {% set percentage = (answers[i][j] / total * 100)|number_format %}
                    <div class="col-sm">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ percentage }}%"
                                 aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentage }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </button>
    </h2>

    <div id="flush-collapse_{{ j }}_{{ i }}" class="accordion-collapse collapse collapse"
         aria-labelledby="accordion-header_{{ j }}_{{ i }}" data-bs-parent="#accordion_question_{{ i }}">
        {% include('post/by-gender.html.twig') %}
        {% include('post/by-age.html.twig') %}
        {% include('post/by-religion.html.twig') %}
    </div>
</div>