<div class="accordion-body">
    <br>
    <div class="row">
        <div class="col-sm">
            <span class="badge bg-success">Vert</span> : Femme
        </div>
        <div class="col-sm">
            <span class="badge bg-primary">Bleu</span> : Homme
        </div>
        <div class="col-sm">
            <span class="badge bg-secondary">Gris</span> : Non-binaire
        </div>
    </div>

    <br>

    <div class="progress"  style="height: 20px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ answers[i]['options'][answerId]['sexe'][0]['ratio'] }}%" aria-valuenow="{{ answers[i]['options'][answerId]['sexe'][0]['ratio'] }}"
             aria-valuemin="0" aria-valuemax="100">{{ answers[i]['options'][answerId]['sexe'][0]['ratio'] }}%
        </div>

        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ answers[i]['options'][answerId]['sexe'][1]['ratio'] }}%" aria-valuenow="{{ answers[i]['options'][answerId]['sexe'][1]['ratio'] }}"
             aria-valuemin="0" aria-valuemax="100">{{ answers[i]['options'][answerId]['sexe'][1]['ratio'] }}%
        </div>

        <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ answers[i]['options'][answerId]['sexe'][2]['ratio'] }}%" aria-valuenow="{{ answers[i]['options'][answerId]['sexe'][2]['ratio'] }}"
             aria-valuemin="0" aria-valuemax="100">{{ answers[i]['options'][answerId]['sexe'][2]['ratio'] }}%
        </div>
    </div>
    <br>
</div>